@import "variables";

body {
  background-color: $primary-background;
  font-family: $primary-font;
  font-size: 1rem;
  color: $primary-font-color;
  overflow-x: hidden;
  min-width: 40rem;
}

section {
  position: relative;
  top: $navbar-height;
  margin: auto;
  max-width: 60rem;
  padding: 1rem;
}

input, textarea {
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  padding: 5px;
}

// buttons
button,
input[type=button],
input[type=reset],
input[type=submit],
.linkbutton {
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  padding: 5px 10px;
  transition: all .2s;
}

a.active {
  pointer-events: none;
}


// LOADING
.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(10, 50, 97, 0.2);
  z-index: 4;

  .lds-dual-ring {
    position: absolute;
    top: 1.4rem;
    left: 50%;
    transform: translate(-50%, 0);
    display: inline-block;
    width: auto;
    height: auto;
  }
  
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 30px;
    height: 30px;
    margin: 1px;
    border-radius: 50%;
    border: 4px solid #fff;
    border-color: #6d6d6d transparent #6d6d6d transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  
  @keyframes lds-dual-ring {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}