.mainpage-container {
  text-align: center;
}

.mainpage-header {
  // display: inline-block;
  font-size: 2rem;
  margin: 2rem 0;
}

.mainpage-about {
  margin: 3rem 0 2rem 0;
  font-size: 1.2rem;
}

.mainpage-button {
  margin: 2rem 0;
  font-size: 1.2rem;
  border-radius: 2rem;
  padding: .4rem 1.8rem;
  color: #ffffff;
  background: #91cdff;

  &:hover {
    background: #afdbff
  }
}